<h3>Those are the available <%= item %> variety in the database</h3>
<h4>please click on individual label for presenting nutrition data for specific type of <%= item %></h4>


<ul>
 <% hints.forEach(function(hint){ %>
 <% var foodId = hint.food.uri.split('#')[1]; %>
    <li><a href="/item/details/<%=hint.food.label%>/<%=foodId%>"><h5><%= hint.food.label %></h5></a></li>
 <% }); %>  
</ul>


<h4>data provided by:</h4> <div id="edamam-badge" data-color="white"></div>
<script src="https://developer.edamam.com/attribution/badge.js"></script>

<style>
    body {
        margin: 0;
        padding: 0;
        background: lightgrey;
        background-size:cover;
    }
    h3, h4 {
        color: darkblue;
        font-family: serif;
    }
    a {
        font-family: sans-serif;
    }
    
    .navbar-brand {
        margin-left: 10px;
        font-weight: bold;
        font-family: serif;
    }
    </style>
    